<div class="container mb-5 " role="main">
  <!-- Show project-info -->
  <app-project-info [project]="project"
                    [showFullDetails]="true"
                    [totalBookedHours]="totalBookedHours"
                    buttonLinkName="Back"
                    buttonLink="/project-management"></app-project-info>

  <accordion class="card bg-milc ">
    <accordion-group heading="Overview Diagramm" panelClass="bg-milch">
      <div class="card-body bg-milch text-dark" *ngIf="projectTimes.length === 0">
        No tracked times available
      </div>
      <div class="card-body bg-milch text-dark" *ngIf="projectTimes.length > 0">
        <canvas baseChart
                [colors]="chartColors"
                [data]="chartData"
                [labels]="chartLabels"
                chartType="doughnut">
        </canvas>
      </div>
    </accordion-group>
  </accordion>

  <div *ngIf="projectTimes.length > 0">
    <app-time-tracking-list trackingListHeader="Details"
                                [showActionButtons]="false"
                                [showExportTimesButton]="true"
                                [currentRouteLink]="currentRouteLink"
                                [alreadyTrackedTimes]="projectTimes"
                                [alreadyTrackedTimesPage]="alreadyTrackedTimesPage"
                                [timeTrackingPerPage]="timeTrackingPerPage"
                                [projects]="[project]"></app-time-tracking-list>
  </div>
</div>
