<accordion>
    <accordion-group heading="{{trackingListHeader}}">
      <accordion>
        <!-- Filter -->
        <accordion-group heading="Filter">
          <form [formGroup]="filterTimeTrackingForm" (ngSubmit)="filterTrackedTimes()" >
            <div class="row">
              <label for="filterDate">Date:</label>
              <div class="col">
                <input id="filterDate" type="text" bsDatepicker name="filterDate" [bsConfig]="{dateInputFormat: 'DD.MM.YYYY'}"
                       formControlName="filterDate" class="form-control"/>
              </div>
              <div class="col-2 btn-group-sm">
                <button type="submit" class="btn btn-primary right" [disabled]="filterTimeTrackingForm.invalid">Filter</button>
                <button class="btn btn-outline-danger right" type="button" (click)="resetFilter()">Reset</button>
              </div>
            </div>
          </form>
        </accordion-group>
        <!-- List -->
        <accordion-group heading="Booked project times" isOpen="true">
          <div class="row">
            <div class="col-xs-12 col-12">
              <pagination [totalItems]="alreadyTrackedTimes.length"
                          [itemsPerPage]="timeTrackingPerPage"
                          (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>

          <div class="card-body">
            <table class="table">
              <thead class="thead-light">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Project</th>
                <th scope="col">User</th>
                <th scope="col">Booked hours</th>
                <th scope="col"*ngIf="showActionButtons">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let timeTracking of alreadyTrackedTimesPage">
                <td>{{timeTracking.trackingDate | date: 'dd.MM.yyyy'}}</td>
                <td>{{getProjectTopic(timeTracking.projectID)}}</td>
                <td>{{timeTracking.username}}</td>
                <td>{{timeTracking.workedHours}}</td>
                <td *ngIf="showActionButtons">
                  <a class="btn btn-outline-success" title="Edit" [routerLink]="'/time-tracking-edit/' + timeTracking.id">Edit</a>
                  <button class="btn btn-dark" type="button" (click)="delete(timeTracking)">Delete</button></td>
              </tr>
              </tbody>
            </table>

            <button *ngIf="showExportTimesButton && alreadyTrackedTimesPage.length > 0" class="btn btn-outline-danger" type="button" (click)="generatePDF()">Export Times to PDF</button>

          </div>
        </accordion-group>
      </accordion>
    </accordion-group>
</accordion>
