
  <div class="card">
    <div class="card-header pointerCursor"  (click)="toggleContent()">
      <strong>{{trackingListHeader}}</strong>
    </div>


      <div class="card-body" [hidden]="isHidden">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Project</th>
              <th scope="col">User</th>
              <th scope="col">Booked hours</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let timeTracking of alreadyTrackedTimes">
              <td>{{timeTracking.trackingDate | date: 'dd.MM.yyyy'}}</td>
              <td>{{getProjectTopic(timeTracking.projectID)}}</td>
              <td>{{timeTracking.username}}</td>
              <td>{{timeTracking.workedHours}}</td>
              <td><button class="btn btn-dark" type="button" (click)="delete(timeTracking)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>






<!--

<div id="trackingList">
  <div class="card">
    <div class="card-header" id="collapseHeader">
      <h1 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#trackedProjectTimes" aria-expanded="false" aria-controls="trackedProjectTimes">
          Already booked project times:
        </button>
      </h1>
    </div>
    <div id="trackedProjectTimes" class="collapse show" aria-labelledby="collapseHeader" data-parent="#trackingList">
      <div class="card-body">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Project</th>
              <th scope="col">User</th>
              <th scope="col">Booked hours</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let timeTracking of alreadyTrackedTimes">
              <td>{{timeTracking.trackingDate | date: 'dd.MM.yyyy'}}</td>
              <td>{{getProjectTopic(timeTracking.projectID)}}</td>
              <td>{{timeTracking.username}}</td>
              <td>{{timeTracking.workedHours}}</td>
              <td><button class="btn btn-dark" type="button" (click)="delete(timeTracking)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div> -->

