<div class="card bg-milch ">
  <div class="card-header"><h2>Dashboard</h2></div>

  <div class="card-body">

    <div class="col-md-12">

      <div class="row justify-content-center">

        <div class="column">
          <a class="dash-card"[routerLink]="'/user-form/'">
          <div class="card bg-milch">
            <br>
            <i class="fas fa-user-plus"></i>
            <br>
            <p>Add new User</p>
          </div>
          </a>
        </div>


        <div class="column">
          <a class="dash-card"[routerLink]="'/project-form/'">
            <div class="card bg-milch">
              <br>
              <i class="fas fa-project-diagram"></i>
              <br>
              <p>Add new Project</p>
            </div>
          </a>
        </div>

        <div class="column">
          <a class="dash-card"[routerLink]="'/time-tracking/'">
            <div class="card bg-milch">
              <br>
              <i class="fas fa-stopwatch"></i>
              <br>
              <p>Track your project time</p>
            </div>
          </a>
        </div>

      </div>

      <br>
      <br>
      <accordion closeOthers="true">
        <accordion-group panelClass="bg-milch" heading="Quick booking" isOpen="true" >
          <div *ngIf="hasUserRole == false" >
            No permission to track project times!
          </div>
          <div *ngIf="hasUserRole">

              <app-time-tracking-form fillWithLastBooking="true"
                                      currentRouteLink="/dashboard"
                                      [projectOptions]="projects"
                                      [currLoggedInUser]="currLoggedInUser"></app-time-tracking-form>
            </div>


        </accordion-group >
        <accordion-group panelClass="bg-milch"  heading="Bookings Overview">
          <div class="card bg-milch text-dark" *ngIf="hasUserRole">
            <div *ngIf="chartData.length === 0">
              No tracked times available
            </div>
            <div *ngIf="chartData.length > 0" class="bg-milch">
              <canvas baseChart
                      [datasets]="chartData"
                      [labels]="chartLabels"
                      [options]="chartOptions"
                      [colors]="chartColors"
                      legend="true"
                      chartType="bar"
                      (chartHover)="chartHovered($event)"></canvas>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
