<div class="container mb-5" role="main">
  <div class="card bg-light">
    <div class="card-body text-dark">
      <a class="btn btn-outline-info navbar-btn" [routerLink]="'/project-form/'">New project</a>
    </div>
  </div>
</div>

<div class="card bg-light">
  <div class="card-body">
    <div class="col-md-12">
      <div class="row">
        <div *ngFor="let project of projects" class="col-4">
          <app-project-info [project]="project"></app-project-info>
        </div>
      </div>
    </div>
  </div>
</div>
