<div style="text-align: center;">
<a class="btn btn-outline-info navbar-btn" [routerLink]="'/project-form/'">New project</a>
</div>

<div class="card bg-milch">

  <div class="row">

  </div>

  <div class="card-body">
    <div class="col-md-12">
      <div class="row">
        <div *ngFor="let project of projectsPage" class="col-4">
          <app-project-info [project]="project" buttonLinkName="Details" [buttonLink]="'/project-details/'+ project.id"></app-project-info>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-12">
    <pagination [totalItems]="projects.length"
                [itemsPerPage]="projectsPerPage"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
