<div class="card bg-milch about">
  <div class="card-body">
    <div class="col-md-12">
      <div class="row">
        <h1 class="h1about">About</h1>
        <div class="col-12">
          <p>This project was developed for the course "Software Engineering Selective" at Fachhochschule Joanneum. </p>
          <br>
          <h4>Developers:</h4>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-4 card text-dark bg-milch">
          <h4>Alexander Hödl</h4>
          <h5>Head of Bananenritter</h5>
          <br>
          <p>This Wunderwuzi is the Project-Hödl and is therefore responsible for everything.</p>
          <br>
          <p>
            <cite>
              "In jeder Programmiersprach wird a Map als Key-Value definiert.. und wos mocht des scheiß Typescript wieder? Definiert a Map als Value-Key. Danke und geh in Oasch"
            </cite>
          </p>
          <br>
        </div>

        <!--  <div class="card text-dark"> -->
        <div class="col-4 card text-dark bg-milch">
          <h4>Nikolaus Spieß</h4>
          <h5>Head of Heads</h5>
          <br>
          <p>This Eierbär likes Neon-Colors and tried his best to find some fancy colors for his charts.</p>
          <br>
          <p>
            <cite>
              "Ich hab den ganzen Code gelöscht und jetzt geht gar nix mehr!"
            </cite>
          </p>

        </div>
        <div class="col-4 card text-dark bg-milch">
          <h4>Maximilian Steiner</h4>
          <h5>Head of Eggs</h5>
          <br>
          <p>This guy has style but no money.</p>
          <br><br>
          <p>
            <cite>
              "Ich mach des Design, weil ich bin
            </cite>
          </p>

        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <iframe src="https://ghbtns.com/github-btn.html?user=hoedlale16&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
        </div>
        <div class="col-4">
          <iframe src="https://ghbtns.com/github-btn.html?user=MrBrown1992&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
        </div>
        <div class="col-4">
          <p><cite>wicklich gut in CSS !!!"</cite></p>
          <iframe src="https://ghbtns.com/github-btn.html?user=MrPink1992&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
        </div>
      </div>

    </div>
    <br><br>

    <h4>License</h4>
    <div class="col-12 center">

      <p>
        MIT License<br>
        <br>
        Copyright (c) 2019 Alexander H. Maximilian S. Nikolaus S.<br>
        <br>
        Permission is hereby granted, free of charge, to any person obtaining a copy<br>
        of this software and associated documentation files (the "Software"), to deal<br>
        in the Software without restriction, including without limitation the rights<br>
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
        copies of the Software, and to permit persons to whom the Software is<br>
        furnished to do so, subject to the following conditions:<br>
        <br>
        The above copyright notice and this permission notice shall be included in all<br>
        copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br>
        SOFTWARE.
      </p>


    </div>


  </div>
</div>

