/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Warnes-2;
  src: url(assets/fonts/Warnes-Regular.ttf);
}

.btn {
  margin-right: 5px;
}



.pink {
  box-shadow: 0 0 50px #FF00DE;
}

.pointerCursor {
  cursor: pointer;
}

html {
  background: url("assets/images/login-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  margin: 0 auto;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

pL{
  color: black;
}

.hello{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10pt;
  margin: 25% auto

}

