/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Warnes-2;
  src: url(assets/fonts/Warnes-Regular.ttf);
}

.btn {
  margin-right: 5px;
}



.pink {
  box-shadow: 0 0 50px #FF00DE;
}

.pointerCursor {
  cursor: pointer;

}


.center {
  margin: 0 auto;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

pL{
  color: black;
}

.hello{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10pt;
  margin: 25% auto

}

.bg-tag{
  background: url("assets/images/dl-darker.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-notag{
  background: url("assets/images/bg-notag.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-scroll {
  height:100vh; overflow: scroll;
}

/* ######################## Dashboard Cards #################################################################### */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* ######################## ENDE Dashboard Cards #################################################################### */
