<div class="container mb-5" role="main">
  <div *ngIf="projectTimes != null" class="card bg-light">
    <div class="card-body text-dark">

      <div  style="display: block">
        <canvas baseChart [colors]="chartColors"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>

    </div>
  </div>


  <div class="card bg-light">
    <app-time-tracking-list [alreadyTrackedTimes]="projectTimes" [projects]="projects"></app-time-tracking-list>
  </div>

</div>
